<!DOCTYPE html>
<html>
    <head>
        <%- include('templates/head')%>
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </head>

    <body>
        
        <a class='btn btn-success btn-sm btn-top-rght' href='/logout'>Logout</a>
        
        <div class="container-fluid some_background">
            <h2 class="display-3">Admin</h2>
            <div class="alert alert-warning" role="alert">
              Remember admin, any mistakes reflect on you!
            </div>
        </div>
        
        <!--<h2>yo</h2>-->
        <div class="container">
            <div class="row">
                
                <div class="col">
                    <form action="/productInsert" method="POST">
                        <input type='text' class='form-control' id='name' name='name' placeholder='ex:name' required>
                        <br>
                        <input type='text' class='form-control' id='image' name='image' placeholder='ex:image-url' required>
                        <br>
                        <input type='text' class='form-control' id='color' name='color' placeholder='ex:red' required>
                        <br>
                        <input type='text' class='form-control' id='price' name='price' placeholder='ex:$3.80' required>
                        <br>
                        <input type='text' class='form-control' id='carried' name='carried' placeholder='ex:33' required>
                        <br>
                        <input type='text' class='form-control' id='sq_ft' name='sq_ft' placeholder='ex:3' required>
                        <br>
                        <input type='text' class='form-control' id='short' name='short' placeholder='ex:A green grass!' required>
                        <br>
                        <input type='text' class='form-control' id='long' name='long' placeholder='ex:A green grass that is grass' required>
                        <br>
                        <button class='btn btn-info'>Add the grass!</button>
                    </form>
                    
                </div>
                
            </div>
        </div>
        
        
        <div class="d-flex flex-wrap">
        <!--<ul class="d-flex flex-row">-->
            <!--d-flex align-content-stretch flex-wrap-->
            <!--d-flex flex-wrap-->
            <%grasses.forEach(function(g){%>
            <div class="some_div container">
                <ul class="list-group border">
                    <li class="list-group-item"><img class="img-thumbnail" src="<%=g.image%>"/></li>
                    <h5><%=g.name%></h5>
                    <li class="list-group-item">Product id: <%=g.product_id%></li>
                    <div class="center">Amount Available:<li class="list-group-item" id="li<%=g.product_id%>"><%=g.carried_quantity%></li></div>
                    
                    <!--<input id='thing<%=g.product_id%>' type="text">-->
                    <div class="container mx-auto row">
                    <button class="col" onclick='addAmount(<%=g.product_id%>)'>Add by</button>
                    <button class="col" onclick='subAmount(<%=g.product_id%>)'>Sub by</button>
                    </div>
                                        <input placeholder="Some Positive Number" id='thing<%=g.product_id%>' type="text">

                </ul>
            </div>
            <%});%>
        <!--</ul>-->
        </div>
        
        
        <script SRC="javascript/adminAdd.js"></script>
    </body>
</html>