<%- include ('templates/head'); -%>

<script src="https://code.jquery.com/jquery.min.js"></script>


<%if(authenticated){%>
    <h3>User logged in.</h3>
    <h3><%=user.username%></h3>
    <h2><%=user.user_id%></h2>
<%}else{%>
    <h3>User not logged in.</h3>
<%}%>


<h2><%=grassGeneral.name%></h2>
<img src=<%=grassGeneral.image%> width="200px" height="200px" >
<h3><%=grassSpecific.price%></h3>
<h3>Carrying: <%=grassGeneral.carried_quantity%> at <%=grassSpecific.sq_ft%> ft<sup>2</sup> a piece.</h3>
<h4><%=grassSpecific.color%></h4>
<h4><%=grassSpecific.long_description%></h4>




<%if(authenticated){%>
    <!--<form action='addItem'>-->
        <!--<label>amount</label>-->
        <input id="thing" type="text">
        <!--<label>id</label>-->

        <!--<input type="submit" value="Submit">-->
    <!--</form>-->
    <button onclick='addsItem(<%=grassGeneral.product_id%>)'>Button</button>
<%}else{%>
    <a  href='/login'><button>Button</button></a>
<%}%>

<script>
function addsItem(id){
    console.log("THE JAVASCRIPT IS HERE MFs");
    var amount = $("#thing").val();

        $(document).ready(function(){
    
        $.ajax({
        method:   "GET",
        url:      "/userCartAdd/" + id + "/" + amount, //userCartAdd/:id/:amount
        dataType: "json",
            success: function(result) {
                console.log(result);
                console.log("YES ITS ADDED MFs");
                
                // $("#"+id).append("<h5>Deleted<h5>");
                alert("Your item has being added");
                
            },
            error: function(err){
                console.log(err);
            }
        });
        
    });
    
}
</script>



