<script src="https://code.jquery.com/jquery.min.js"></script>

<h2>User Cart</h2>

<h3><%=user.username%></h3>
<h3><%=user.user_id%></h3>



<ul>
<% var subtotal = 0%>
<%grasses.forEach(function(g){%>
    <% subtotal += g.price %>
    <div id='<%=g.cart_id%>'>
        <h5><%=g.name%></h5>
        <li><%=g.product_id%></li>
        <li><%=g.quantity%></li>
        <li>$<%=g.price%></li>
        <button onclick='deleteItem(<%=g.cart_id%>, <%=g.quantity%>)'>Button</button>
    </div>
<%});%>

<h5>Subtotal: $<%= subtotal %></h5>

</ul>

<script SRC="javascript/remove.js"></script>